{{if .Description}}{{.Description}}

{{end}}Usage:
{{range .Usage}}  {{.}}
{{end}}{{if .Options}}
Options:
{{ $width := groupHelpCommandWidth .Options }}{{range .Options}}{{if .Description}}  {{padRight .Label $width}}  {{.Description}}
{{else}}  {{.Label}}
{{end}}{{end}}
{{end}}{{if or .Commands .Groups}}Commands:
{{ $width := globalHelpCommandWidth . }}{{ $groupWidth := globalHelpGroupCommandWidth . }}{{range .Commands}}{{if .Description}}  {{padRight .Label $width}}  {{.Description}}
{{else}}  {{.Label}}
{{end}}{{end}}{{range .Groups}}{{if .Description}}  {{padRight .Label $width}}  {{.Description}}
{{else}}  {{.Label}}
{{end}}{{range .Commands}}{{if .Description}}    {{padRight .Label $groupWidth}}  {{.Description}}
{{else}}    {{.Label}}
{{end}}{{end}}{{end}}{{end -}}
