{{if .Description}}{{.Description}}

{{end}}Usage:
  {{.Usage}}
{{if .Arguments}}
Arguments:
{{range .Arguments}}{{if .Description}}  {{.Name}}  {{.Description}}{{if .Default}} (default={{.Default}}){{end}}
{{else}}  {{.Name}}{{if .Default}} (default={{.Default}}){{end}}
{{end}}{{end}}{{end}}{{if .Options}}
Options:
{{ $width := groupHelpCommandWidth .Options }}{{range .Options}}{{if .Description}}  {{padRight .Label $width}}  {{.Description}}
{{else}}  {{.Label}}
{{end}}{{end}}{{end -}}
