{{if .Description}}{{.Description}}

{{end}}Usage:
  {{.Usage}}
{{if .Options}}
Options:
{{ $width := groupHelpCommandWidth .Options }}{{range .Options}}{{if .Description}}  {{padRight .Label $width}}  {{.Description}}
{{else}}  {{.Label}}
{{end}}{{end}}
{{end}}{{if .Commands}}Commands:
{{ $width := groupHelpCommandWidth .Commands }}{{range .Commands}}{{if .Description}}  {{padRight .Label $width}}  {{.Description}}
{{else}}  {{.Label}}
{{end}}{{end}}{{end -}}
